In [3]:
import pandas as pd
#ca = pd.read_csv('ca.csv') #960

In [4]:
all_jobs_cleaned = pd.read_csv('all_jobs_cleaned.csv') 
#all_jobs_cleaned['remoteness'].value_counts()

In [5]:
segment_training = all_jobs_cleaned.sample(n=6000, random_state = 42)
segment_training

,status,title,company,location,date,blurb,tags,link,id,provider,query,locale,wage,remoteness,state_zip,state,city
131,NEW,"Software Development Engineer, Cloud/Data, eer...",Amazon.com Services LLC,"San Francisco, CA",2024-10-03,3+ years of non-internship professional softwa...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=a713683b67...,IndeedScraperUSAEng_a713683b674d4a9c,IndeedScraperUSAEng,Data,USA_ENGLISH,$129300 - $223600 yearly,UNKNOWN,CA,CA,San Francisco
9101,NEW,AI & GenAI Data Scientist-Senior Associate,PRICE WATERHOUSE COOPERS,"Raleigh, NC 27609",2024-11-09,Directing data engineers and other data scient...,"Benefits: Paid holidays, Health insurance, Den...",https://www.indeed.com/m/viewjob?jk=9b58aa063f...,IndeedScraperUSAEng_9b58aa063f997294,IndeedScraperUSAEng,Data,USA_ENGLISH,$84000 - $202000 yearly,UNKNOWN,NC 27609,NC,Raleigh
2133,NEW,Data Processing Unit Tooling Engineer,Microsoft,"Santa Clara, CA 95050",2024-10-13,The Data Processing Unit (DPU) team brings tog...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=8d50b26817...,IndeedScraperUSAEng_8d50b26817402748,IndeedScraperUSAEng,Data,USA_ENGLISH,$137600 - $294000 yearly,UNKNOWN,CA 95050,CA,Santa Clara
7967,NEW,Loan IQ - Business Analyst,Infosys,"Dallas, TX 75201",2024-11-15,Expertise in underlying Misys Loan IQ data mod...,NaN,https://www.indeed.com/m/viewjob?jk=18bcd4a0d5...,IndeedScraperUSAEng_18bcd4a0d54a1d9d,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,TX 75201,TX,Dallas
4029,NEW,Data Center Sales Manager,Kevin Edward Consultancy Limited,United States,2024-10-08,Data Center Sales Manager - HVAC Location: Nat...,Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=5a5c7de1d8...,IndeedScraperUSAEng_5a5c7de1d801b04b,IndeedScraperUSAEng,Data,USA_ENGLISH,$120000 - $150000 yearly,UNKNOWN,NaN,NaN,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6138,NEW,Clinical Data Coordinator,CEDENT,"Dallas, TX",2024-10-08,Assist in the preparation and maintenance of d...,Job types: Contract\r\nJob types cc: Contract,https://www.indeed.com/m/viewjob?jk=1cab597aa0...,IndeedScraperUSAEng_1cab597aa0503597,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,TX,TX,Dallas
3372,NEW,Data Validation Chemist /Analytical Subcontrac...,Techlaw Consultants Inc And Subsidiaries,"Edison, NJ 08837",2024-10-03,Perform critical review of laboratory analytic...,Job types: Full-time\r\nBenefits: Health insur...,https://www.indeed.com/m/viewjob?jk=c08ed949f8...,IndeedScraperUSAEng_c08ed949f8cd0862,IndeedScraperUSAEng,Data,USA_ENGLISH,$75000 - $85000 yearly,UNKNOWN,NJ 08837,NJ,Edison
3311,NEW,"Data, Quality, and Support Specialist - HIV Su...",Community Health Action of Staten Island,"Staten Island, NY 10301",2024-10-04,Verify data for completeness and accuracy. Rev...,Job types: Full-time\r\nBenefits: Paid holiday...,https://www.indeed.com/m/viewjob?jk=92204821f3...,IndeedScraperUSAEng_92204821f37fb742,IndeedScraperUSAEng,Data,USA_ENGLISH,$41600 - $46600 yearly,UNKNOWN,NY 10301,NY,Staten Island
6332,NEW,"Database Administrator, Technical Lead",Freddie Mac,"Dallas, TX 75201",2024-10-03,Able to zero down on root cause with supportin...,Job types: Full-time\r\nJob types cc: Full-tim...,https://www.indeed.com/m/viewjob?jk=174de3fc3e...,IndeedScraperUSAEng_174de3fc3ec77ebc,IndeedScraperUSAEng,Data,USA_ENGLISH,$129000 - $193000 yearly,UNKNOWN,TX 75201,TX,Dallas
6586,NEW,"Applied Scientist, Ops Tech Solutions",Amazon.com Services LLC,"Dallas, TX",2024-10-03,Experience in any of the following areas: algo...,Job types: Full-time\r\nJob types cc: Full-time,https://www.indeed.com/m/viewjob?jk=ef7822e4fe...,IndeedScraperUSAEng_ef7822e4fe199d04,IndeedScraperUSAEng,Data,USA_ENGLISH,NaN,UNKNOWN,TX,TX,Dallas

In [6]:
#export trainnig data
segment_training.to_csv("training_data.csv", index=False)

In [150]:
#titles with dashes
counts_dash = counts[counts['title'].str.contains('-')]
counts_dash.head(60)

,title,count
7,data scientist - san francisco,16
21,sports data operator - baseball/softball (ca - bay area),6
31,specialist- data analyst,5
38,data scientist ii - experimentation,5
42,data engineer - ag,4
44,data center technician 2-it,4
45,data center hardware engineering - hardware system integration engineer,4
63,"aiml - machine learning engineer, siri and information intelligence",3
66,2025 technology analyst development program - early careers (software or data engineer),3
89,applied machine learning engineer - localization,2
92,data researcher (part-time),2
97,"aiml - sr data scientist, data and ml innovation",2
102,"data scientist - analytics, trust & safety",2
109,it - database administrator,2
115,"sr. ww specialist sa, in-memory database , wwso",2
128,"data scientist, ecommerce - usds",2
134,principal data scientist - sql team,2
142,machine translation engineer - localization,2
143,applied scientist - wwbpr advanced analytics,2
144,"engineering program manager, machine learning and data - siml",2
154,lead data analyst - limited term (open),2
160,"data product manager - data, data platform",2
161,"pg&e o&s gas, transmission, routine & wood mgt. - database management specialist (dms)",2
164,regional safety manager - data center,2
170,data scientist - product marketing and customer analytics,2
171,forensics - discovery data scientist - manager (ai responsibility),2
174,aiml - machine learning engineer - special projects,2
177,"patient safety data analyst (psda) - travis afb, ca",2
187,senior data engineer-maps,2
188,lead software engineer - data platform,2
189,"aiml - annotations program manager, data operations",2
190,bi analyst- analytics,2
216,engineer iii - data engineer,2
221,"technical program manager, privacy and data protection - usds",2
238,business analyst - global monetization product & tech,2
239,"senior manager, external data management - clinical data science",2
242,senior software engineer - data,2
246,data engineer - remote india,1
248,operations associate - data collection,1
249,staff data engineer- genai,1
253,"senior data scientist, analytics - platform ecosystem",1
256,"data scientist- tiktok ads, search ads",1
260,machine learning engineer graduate (data-search-tiktok.us - san jose) - 2025 start (bs/ms),1
262,"data scientist, tiktok ads-vertical solutions",1
263,senior data scientist - tiktok live,1
265,data analyst - health software,1
268,"machine learning engineer - data curation - aigc, tiktok monetization genai",1
269,senior data scientist - product insights,1
272,"tech lead, data platform - experimentation & evaluation",1
273,"staff engineer, full-stack data scientist",1
277,i-spy eop research data analyst,1
283,staff/senior staff scientist - marketplace (experimentation/causal inference),1
284,"research data analyst 3, s-spire (u.s. - flexible work location)",1
285,sr data scientist ii - ai and data science center of excellence,1
288,technical solutions engineer - data center,1
297,data analyst program coordinator i-public health (department promotional only),1
299,"data center manager , sfo - dco",1
303,"sr data scientist, product analytics - usds",1
311,"ai engineer, genai enterprise accelerator - san francisco (hybrid)",1
312,"aiml-principal data scientist, measurements",1

In [161]:
#get rows that have Data Scientist in them
counts_ds = counts[counts['title'].str.contains('data scientist')]
counts_ds.head(50)

                                                                  title  count
0                                                        data scientist     52
5                                                 senior data scientist     22
7                                        data scientist - san francisco     16
8                                                  staff data scientist     13
10                                    data scientist, product analytics      9
23                                               senior, data scientist      6
33                                             principal data scientist      5
38                                  data scientist ii - experimentation      5
49                                              data scientist, product      4
51                                          (usa) staff, data scientist      4
58                                          data scientist iii, product      3
64                             senior data scientist, tiktok experience      3
75                                data scientist (technical leadership)      3
81                                          data scientist, ads metrics      2
97                     aiml - sr data scientist, data and ml innovation      2
99                                                staff, data scientist      2
102                          data scientist - analytics, trust & safety      2
105                                          language data scientist ii      2
111                                       staff data scientist, product      2
116                      data scientist (java, scala, c/c++) | remote |      2
120                                     senior data scientist, research      2
123                                              product data scientist      2
128                                    data scientist, ecommerce - usds      2
134                                 principal data scientist - sql team      2
136                                       senior product data scientist      2
156                          business data scientist, ads finance quant      2
170           data scientist - product marketing and customer analytics      2
171  forensics - discovery data scientist - manager (ai responsibility)      2
173                                  data scientist manager ii, product      2
175                                 data scientist, stanford law school      2
176               business data scientist, competition economic analyst      2
179                                                 lead data scientist      2
185                                 data scientist manager ii, research      2
197                                                  data scientist iii      2
199                                        data scientist / ml engineer      2
201                                                   data scientist ii      2
213                           senior data scientist (product analytics)      2
224                                                    data scientist 2      2
243             data scientist ii (product analytics, recommendations )      2
253               senior data scientist, analytics - platform ecosystem      1
256                              data scientist- tiktok ads, search ads      1
262                       data scientist, tiktok ads-vertical solutions      1
263                                 senior data scientist - tiktok live      1
269                            senior data scientist - product insights      1
273                           staff engineer, full-stack data scientist      1
281                              staff data scientist, causal inference      1
285     sr data scientist ii - ai and data science center of excellence      1
300                                      data scientist (visualization)      1
303                         sr data scientist, product analytics - usds      1
307                       language data scientist ii, amazon transcribe      1

In [162]:
counts_e = counts[counts['title'].str.contains('engineer')]
counts_e

                                                                  title  count
1                                                         data engineer     35
3                                                  senior data engineer     29
4                                             machine learning engineer     28
12                                     data engineer, product analytics      8
19                                                  staff data engineer      7
...                                                                 ...    ...
1807     software engineer (framework - platforms), ai & data platforms      1
1812                                         data engineer (l5) - games      1
1818  senior architect - data engineering and analytics (san francisco)      1
1819                                           sap data engineer - hana      1
1822                          machine learning engineer, prescient llms      1

[556 rows x 2 columns]

In [163]:
counts_analyst = counts[counts['title'].str.contains('analyst')]
counts_analyst

                                                             title  count
2                                                     data analyst     34
6                                                 business analyst     20
9                                              senior data analyst     13
13                                        research data analyst ii      8
17                                    senior business data analyst      7
...                                                            ...    ...
1783                     business systems analyst, data management      1
1789                 senior data analyst/data warehouse consultant      1
1801  program coordinator/analyst, transit & asset management data      1
1810                                               data analyst ii      1
1820                                   voyage data support analyst      1

[271 rows x 2 columns]

In [75]:
counts_comma = counts[counts['title'].str.contains(',')]
counts_comma

                                               title  count
10                 Data Scientist, Product Analytics      9
11                  Data Engineer, Product Analytics      8
19                            Senior, Data Scientist      6
26    GenAI Project Manager, Product Data Operations      6
28                             Senior, Data Engineer      6
...                                              ...    ...
1756                     Staff Data Scientist, eComm      1
1757            Senior Program Manager, Data Science      1
1758             Data Scientist Manager II, Research      1
1762     Software Dev Engineer, Amazon Data Firehose      1
1763       Machine Learning Engineer, Prescient LLMs      1

[705 rows x 2 columns]

In [81]:
counts_line = counts[counts['title'].str.contains('|')]
counts_line

                                               title  count
0                                     Data Scientist     49
1                                       Data Analyst     33
2                                      Data Engineer     32
3                          Machine Learning Engineer     28
4                               Senior Data Engineer     28
...                                              ...    ...
1759                Customer Data Specialist I – DUI      1
1760   Senior Data Analyst/Data Warehouse Consultant      1
1761  Senior Technical Program Manager - TikTok Data      1
1762     Software Dev Engineer, Amazon Data Firehose      1
1763       Machine Learning Engineer, Prescient LLMs      1

[1764 rows x 2 columns]

#### Get the count of words in the corpus

In [158]:
#remove certain characters from the corpus 
ca['title'] = ca['title'].str.replace(r'\,|-', '', regex=True)

In [159]:
# keep a counter of word frequency
from collections import Counter

counter = Counter()
for index, row in ca.iterrows():
    counter.update(row['title'].strip().lower().split())
print('Number of unique words:', len(counter))

# sort words by frequency from high to low
for word, count in sorted(counter.items(), key = lambda x: x[1], reverse = True)[:1000]:
    print (word, count)

Number of unique words: 1611
data 1957
engineer 673
scientist 459
analyst 384
senior 376
manager 278
learning 180
and 179
software 173
machine 172
& 166
analytics 160
business 150
product 136
ai 134
center 126
staff 116
science 112
research 103
specialist 102
lead 90
engineering 83
principal 82
database 78
platform 77
ii 73
sr. 63
director 60
architect 56
entry 54
of 54
program 51
management 51
technician 49
infrastructure 48
tiktok 46
operations 45
iii 44
associate 44
systems 44
cloud 39
technical 36
ads 36
2025 36
san 36
developer 35
i 35
intelligence 35
clinical 33
sr 32
solutions 31
applied 30
services 30
consultant 30
ml 30
| 29
graduate 29
governance 28
(data 28
marketing 28
development 27
project 26
privacy 26
security 26
/ 26
customer 25
tech 25
start 24
administrator 23
usds 21
quality 21
coordinator 21
aiml 21
technology 20
remote 20
big 20
operator 19
– 19
francisco 19
2 18
global 18
ca 18
sales 17
(bs/ms) 17
support 17
enterprise 16
assistant 16
search 16
ai/ml 15
(usa) 15
apple 15
finance 15
team 15
genai 14
head 14
clerk 14
platforms 14
it 14
google 14
risk 14
safety 14
policy 13
strategy 13
health 13
in 13
processing 13
reporting 13
design 13
jose 13
planning 13
applications 12
marketplace 12
researcher 12
experience 12
service 12
collection 12
amazon 12
monetization 12
core 11
protection 11
experimentation 11
generative 11
products 11
artificial 11
delivery 11
user 11
acquisition 11
ecommerce 11
innovation 11
office 10
compliance 10
member 10
financial 10
hardware 10
backend 10
statistical 10
system 10
language 10
partner 10
application 10
recommendation 10
digital 9
modeling 9
(data) 9
school 9
sql 9
warehouse 9
college 9
ops 9
growth 9
analytics) 9
energy 8
human 8
eero 8
founding 8
for 8
site 8
aws 8
supply 8
hybrid 8
measurement 7
information 7
programmer 7
temporary 7
selfdriving 7
insights 7
computer 7
payments 7
with 7
infra 7
solution 7
shift) 7
sap 7
master 7
(remote) 7
early 7
1 7
media 7
trust 7
bi 7
warehousing 7
) 7
client 7
level 7
bay 7
area) 7
conversion 7
integration 6
analysis 6
chief 6
fraud 6
transformation 6
large 6
centers 6
3 6
public 6
experienced 6
migration 6
lake 6
platform) 6
computing 6
siri 6
strategist 6
chain 6
strategic 6
optimization 6
contract 6
studies 6
hr 6
sports 6
baseball/softball 6
(ca 6
merchandising 6
private 6
direct 5
(technical 5
leadership) 5
scientific 5
sunnyvale 5
messaging 5
personalization 5
student 5
vice 5
president 5
cabling 5
monitoring 5
gcp 5
evaluation 5
r&d 5
account 5
cloud/data 5
recovery 5
plane 5
programming 5
store 5
ventures 5
visualization 5
job 5
adjunct 5
iv 5
recommendations 5
real 5
is 5
foundation 5
models 5
discovery 5
supervisor 5
donor 5
deep 5
full 5
projects 5
(framework 5
storage 5
economics 5
provider 5
new 5
grad 5
via 5
ripplematch 5
multimedia 5
(product 5
analytic 5
salesforce 5
qa 4
dba 4
(hybrid 4
vp 4
2it 4
distinguished 4
india 4
regulatory 4
expert 4
bedrock 4
statistician 4
integrity 4
(6256u) 4
model 4
administrative 4
icloud 4
berkeley 4
ux 4
designer 4
fellow 4
live 4
content 4
assistant/associate 4
people 4
(tiktok 4
autonomy 4
experiences 4
req 4
market 4
us) 4
science) 4
commercial 4
automation 4
pharmacy 4
limited 4
term 4
transmission 4
ecosystem 4
special 4
stack 4
training 4
distributed 4
ta 4
lab 4
logistics 4
anl 4
engine 4
general 4
reliability 4
computational 4
analysts 4
junior 4
ssp 4
mining 4
shop 4
mentor 4
change 4
need 4
streaming 4
performance 4
jose) 4
equipment 4
deals 4
(financial 4
work 4
localization 4
(ecommerce 4
ag 4
or 4
engineer) 4
field 3
construction 3
ad 3
insight 3
llm 3
bioinformatics 3
(1.0 3
fte) 3
gen 3
executive 3
group 3
initiatives 3
unit 3
consumer 3
vision 3
to 3
patient 3
representative 3
scaling 3
ase 3
california 3
scanner 3
advanced 3
stanford 3
law 3
sas 3
career 3
cycling 3
excellence 3
faculty 3
metrics 3
inference 3
tesla 3
bot 3
instagram 3
3) 3
systems) 3
sustainment 3
credit 3
modeler 3
postdoctoral 3
world 3
team) 3
open 3
creator 3
siml 3
(open) 3
perception 3
governmental 3
pg&e 3
o&s 3
gas 3
routine 3
wood 3
mgt. 3
(dms) 3
behavior 3
dev 3
app 3
l3 3
mgmt 3
(ai 3
graph 3
department 3
facility 3
enablement 3
network 3
electrical 3
facilities 3
signal 3
annotations 3
owner 3
identity 3
image 3
recruiter 3
algorithms 3
2024 3
recommendation) 3
scala 3
fulltime 3
ba/pm 3
python 3
help 3
promotional 3
teradata 3
( 3
ww 3
ba 3
santa 3
clara 3
algorithm 3
(phd) 3
video 3
document 3
society 3
economic 3
soc 3
quant 3
careers 3
(software 3
architectdirector 2
aide 2
robotics 2
collector 2
dept. 2
(specialist 2
sfl 2
mongo 2
opportunity 2
fixed 2
term) 2
audio 2
care 2
gaming 2
(l5) 2
tools 2
rl 2
parttime 2
mgr 2
(spark) 2
(202425) 2
catalog 2
deputy 2
building 2
annotation 2
5 2
sox 2
tester 2
physical 2
ehs 2
background 2
sf 2
cyber 2
brokerage 2
specialist) 2
community 2
external 2
onpoint 2
corporate 2
manger 2
pet 2
legal 2
samsung 2
serving 2
location) 2
programs 2
collections 2
(formerly 2
query 2
causal 2
revenue 2
(ms) 2
walmart 2
(day 2
battery 2
informatics 2
(machine 2
on 2
time 2
(ml) 2
anaplan 2
foundation) 2
solutioning 2
configuration 2
scholar 2
haas 2
evidence 2
engines 2
tao 2
test 2
centres 2
life 2
sustainability 2
medical 2
etl/database 2
drug 2
4 2
prediction 2
high 2
activision 2
blizzard 2
foundational 2
geo 2
dcc 2
professor 2
statistics 2
spring 2
semester 2
simulation 2
music 2
leader 2
reporter 2
isv 2
net 2
zero 2
autonomous 2
prompt 2
scientist) 2
security) 2
forensics 2
responsibility) 2
(contractor) 2
employment 2
stage 2
knowledge 2
cycle 2
technologist 2
power 2
sv3/4 2
sciences 2
dgx 2
microsoft 2
principle 2
azure 2
rsch 2
air 2
[remoteus] 2
transcribe 2
analyst/data 2
ecomm 2
observability 2
negotiator 2
hana 2
(san 2
managing 2
counsel 2
production 2
asset 2
frontend 2
(ase) 2
natural 2
multimodal 2
success 2
senior/staff 2
spark 2
(hybrid) 2
(agi) 2
execution 2
engineermaps 2
agent 2
transformers 2
developers 2
accounting 2
bizops 2
hive 2
(parttime) 2
archiving 2
costar 2
entryadministrative 2
(java 2
c/c++) 2
secretary 2
(scanning 2
clerk) 2
defense 2
phd 2
integrations 2
(datasearchtiktok.us 2
java 2
jr. 2
roseville 2
undergraduate 2
inventory 2
global/remote 2
the 2
world! 2
gtm 2
installer 2
(open 2
promotional) 2
summer 2
20 2
only) 2
capital 2
curator 2
admin 2
targeting 2
usc 2
scanning 2
us 2
demand 2
devops 2
bioinformatician/research 2
curation 2
(psda) 2
travis 2
afb 2
government 2
intelligent 2
university 2
oracle 2
(search 2
(onsite) 2
(ubereats) 2
key 2
integrated 2
control) 2
material 2
estate 2
startup 2
fullstack 2
scientist/senior 2
web 2
postgresql 2
supercomputing 2
agi 2
commerce 2
(foundations) 2
economist 2
sa 2
inmemory 2
wwso 2
learning) 2
synthetic 2
administrator/engineer 2
architecture 2
ofci 2
compiler 2
sre 2
chemistry 2
climate 2
controls 2
(blank 2
ast 2
processor 2
swe 2
translation 2
mathematical 2
concept 2
accelerated 2
(dss) 2
mechanical 2
recognition 2
programmers 2
order 2
wwbpr 2
engineer/researcher 2
regional 2
collaboration 2
edge 2
device 2
necessary 2
competition 2
manufacturing 2
nursing 2
admin. 2
days 2
youtube 2
sacramento 2
lecturer 2
(seasonal) 2
spc 2
youthtruth 1
frontier 1
philanthropy 1
master) 1
year 1
bpr 1
hyperscale 1
receiving 1
dsp 1
storyteller 1
esg 1
csg 1
affordability 1
methodology 1
residency 1
educational 1
capabilities 1
subject 1
matter 1
(sme) 1
(gcp) 1
transplant 1
agile 1
plm 1
grant/data 1
virtual 1
room 1
universal 1
understanding 1
(mf 1
5:30am2pm) 1
(dpu) 1
assessment 1
buildouts 1
nvis 1
first 1
yolo 1
connectome 1
segmentation 1
(backend) 1
onsite 1
resources/talent 1
access 1
(374605) 1
studio 1
critical 1
73987 1
autopilot 1
mlr 1
resident 1
notes 1
frameworks 1
organization 1
[executive 1
communications] 1
(6610u) 1
71797 1
driver 1
pricing 1
intermediate 1
managed 1
orchestration 1
(managed 1
services) 1
ed 1
adjustment 1
submissions 1
traveling 1
sustainable 1
humane 1
food 1
(metaverse 1
reality 1
labs) 1
postmarket 1
surveillance 1
openings 1
natera 1
rfic 1
relational 1
microsolder 1
flash 1
(flexible 1
(4517u) 1
73062 1
societ 1
sensors 1
librarian 1
engineerdata 1
527.01/ 1
762 1
storytelling 1
644.01 1
811.01) 1
kpi 1
requirements 1
(hvac/electrical) 1
(ml 1
resources 1
benefits 1
data/analytics 1
(modesto) 1
analyst/architect 1
precon) 1
service) 1
(omni/store) 1
connect 1
sharing 1
(applications 1
progr 1
s/4hana 1
(full 1
onsite) 1
bus 1
lithium 1
valley 1
issues 1
datacentric 1
joinoci 1
etl 1
(1394) 1
755263681 1
specialist(survey 1
campaigns 1
survey 1
analyse 1
survey) 1
73746 1
(qia) 1
econometrics 1
q 1
(url 1
filtering 1
wcp 1
(data/api 1
dccd 1
annotation) 1
scientist: 1
(mysql 1
postgres) 1
minimum 1
set 1
rn 1
(mds) 1
px 1
standardization 1
fulfillment 1
oncology 1
5440774 1
manager(data 1
migrationproject 1
managementdata 1
integrationdata 1
mapping) 1
import 1
walmart+ 1
molecular 1
senior) 1
proteomics 1
xr 1
advance 1
innovations 1
insurance 1
standards 1
gift 1
insights) 1
manipulation 1
kipp 1
stockton 1
(2526) 1
administrator/database 1
hard 1
goods 1
globalization 1
(staff/senior) 1
communities 1
masters 1
10503 1
probability 1
relevance 1
eval) 1
(security 1
governance) 1
sensor 1
svp 1
broker 1
disability 1
retirement 1
avid 1
buyside 1
innovationengineering 1
operational 1
ingestion 1
vehicles 1
(afternoon 1
conversational 1
(finance) 1
checkout 1
staff001467 1
advertising 1
(data/posture 1
industries 1
size 1
nosql 1
tcgplayer 1
next 1
apparel 1
(capcut) 1
acs 1
biometrics) 1
prototyping 1
ev 1
(l6) 1
datain 1
stewardship 1
(sdm) 1
startup) 1
architectural 1
(xpanse) 1
tm1/planning 1
balto 1
3it 1
input 1
spender 1
#4009 1
(l4/l7 1
plane) 1
(swing 1
sams 1
club 1
format 1
optics 1
assistant/ 1
associate/ 1
teaching 1
biological 1
class 1
module 1
(sv8 1
overnight 1
ai/machine 1
internet 1
(remote/flexible) 1
1it 1
administrator(data 1
center) 1
seeker 1
geophysics 1
x 1
nutanix 1
lens 1
server 1
5503274 1
capacity 1
adtech 1
eats 1
crm 1
rwd 1
(r) 1
arch 1
months 1
strong 1
communication 1
skills 1
riskbased 1
(rbqm) 1
(quests) 1
firehose 1
dui 1
intuit 1
exchange 1
(sv1 1
day 1
(silicon 1
valley) 1
manager2 1
call 1
npd 1
forwarding 1
+ 1
(s/4 1
hana) 1
avp 1
voyage 1
francisco) 1
(deputy 1
counsel) 1
databases 1
assistant/data 1
games 1
review 1
platforms) 1
loop 1
transactions 1
coordinator/analyst 1
transit 1
research(survey 1
campaigns) 1
(oncology) 1
instructional 1
robot 1
allocation 1
l6 1
sequence 1
ai/cv 1
lifecycle 1
competitive 1
(7338u) 1
campus 1
71148 1
lead/senior 1
(ads) 1
verification 1
i/ii 1
odi 1

In [166]:
counter = Counter()
counts_ds['title'] = counts_ds['title'].str.replace(r'\,|-', '', regex=True)
for index, row in counts_ds.iterrows():
    counter.update(row['title'].strip().lower().split())
print('Number of unique words:', len(counter))

# sort words by frequency from high to low
for word, count in sorted(counter.items(), key = lambda x: x[1], reverse = True)[:1000]:
    print (word, count)

Number of unique words: 322
data 287
scientist 263
senior 61
tiktok 30
staff 28
ads 27
analytics 23
product 17
and 15
& 14
| 13
principal 12
ii 12
ai 12
research 11
engineer 11
iii 9
sr 7
usds 7
sr. 7
measurement 7
marketing 6
manager 6
lead 6
risk 6
learning 6
experimentation 5
ml 5
ecommerce 5
team 5
business 5
platform 5
search 5
science 5
associate 5
monetization 5
machine 5
(usa) 4
experience 4
safety 4
finance 4
/ 4
insights 4
user 4
growth 4
i 4
personalization 4
san 3
aiml 3
innovation 3
language 3
remote 3
discovery 3
(product 3
solutions 3
live 3
center 3
shop 3
new 3
college 3
grad 3
– 3
ad 3
global 3
intelligence 3
ventures 3
governance 3
modeling 3
services 3
strategy 3
aws 3
(technical 2
leadership) 2
trust 2
quant 2
customer 2
economic 2
causal 2
inference 2
of 2
excellence 2
transcribe 2
2025 2
economist 2
software 2
scientist/senior 2
applied 2
recommendation 2
operations 2
ecomm 2
jr. 2
ca 2
digital 2
targeting 2
monitoring 2
core 2
planning 2
jose 2
products 2
distinguished 2
technology 2
cloud 2
background 2
(data 2
scientist) 2
credit 2
system 2
generative 2
systems 2
apple 2
ai/ml 2
member 2
marketplace 2
fraud 2
brokerage 2
optimization 2
financial 2
identity 2
francisco 1
metrics 1
(java 1
scala 1
c/c++) 1
sql 1
forensics 1
(ai 1
responsibility) 1
stanford 1
law 1
school 1
competition 1
analyst 1
analytics) 1
2 1
recommendations 1
) 1
ecosystem 1
adsvertical 1
fullstack 1
(visualization) 1
amazon 1
aimlprincipal 1
measurements 1
economics 1
trading 1
bioinformatics 1
corp 1
morgan 1
hill 1
antifraud 1
air 1
quality 1
dcc 1
algorithms 1
inventory 1
prognostics 1
health 1
healthcare 1
outcomes 1
ww 1
demand 1
registries 1
realworld 1
brand 1
streaming 1
rtc 1
intelligent 1
store 1
auction 1
delivery 1
fundamental 1
equity 1
dgx 1
support 1
insight 1
nlp/cv 1
market 1
(sunnyvale/bellevue) 1
decisions 1
care 1
tech 1
initiatives 1
commercial 1
item 1
interdisciplinary 1
aerospace 1
youtube 1
people 1
foundation 1
battery 1
connected 1
tv 1
startup 1
transportation 1
sunnyvale 1
mmm 1
one 1
medical 1
subscriptions 1
modelling 1
gtm 1
shopping 1
principle 1
scientist/ai 1
storage 1
(product/pricing) 1
display 1
learning/data 1
siri 1
scientist: 1
instagram 1
creator 1
proteomics 1
molecular 1
drug 1
(specialist 1
senior) 1
sfl 1
scientific 1
walmart+ 1
walmart 1
fulfillment 1
legal 1
(ml) 1
wcp 1
q 1
for 1
4 1
advertising 1
staff001467 1
iv 1
full 1
stack 1
avid 1
buyside 1
industries 1
hard 1
goods 1
gen 1
music 1
statistician 1
computer 1
vision 1
platforms 1
gaming 1
sf 1
expert 1
in 1
artificial 1
rfic 1
query 1
tools 1
warehouse 1
ase 1
icloud 1
organization 1
[executive 1
communications] 1
postmarket 1
surveillance 1
scientist/sr. 1
red 1
teaming 1
mining 1
scientist/ 1
statistical 1
analysis 1
(early 1
career) 1
cycling 1
deep 1
proserve 1
genai 1
open 1
reqs 1
senior/staff 1
collision 1
avoidance 1
interfaces 1
[remoteus] 1
privacy 1
nams2 1
engineering 1
phd 1
(econometrics) 1
underwriting 1
attribution 1
junior 1
crimes 1
graduate 1
usds) 1
2024 1
start 1
(bs/ms) 1
infrastructure 1
infra 1
capacity 1
experiences 1
(xpanse) 1
service 1
enablement 1
ev 1
energy 1
activision 1
blizzard 1
media 1
ai/machine 1
biological 1
sams 1
club 1
lab 1
foundational 1
models 1
input 1
lead/senior 1
(ads) 1
lifecycle 1
instructional 1
experienced 1
verification 1
(quests) 1
india 1

C:\Users\panth\AppData\Local\Temp\ipykernel_26228\2271899416.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counts_ds['title'] = counts_ds['title'].str.replace(r'\,|-', '', regex=True)

In [ ]:
counter = Counter()
counts_ds['title'] = counts_ds['title'].str.replace(r'\,|-', '', regex=True)
for index, row in counts_ds.iterrows():
    counter.update(row['title'].strip().lower().split())
print('Number of unique words:', len(counter))

# sort words by frequency from high to low
for word, count in sorted(counter.items(), key = lambda x: x[1], reverse = True)[:1000]:
    print (word, count)

In [33]:
ca['company'].value_counts().head(60)

company
TikTok                                    146
Apple                                     140
Meta                                       74
Google                                     68
Walmart                                    63
BayOne                                     58
Intuit                                     37
OpenAI                                     33
Amazon.com Services LLC                    29
Stanford University                        29
PayPal                                     24
University of California San Francisco     22
Tesla                                      21
NVIDIA                                     19
Rad Hires                                  16
PG&E Corporation                           15
Amazon Development Center U.S., Inc.       14
Oracle                                     14
Atlassian                                  14
Netflix                                    12
Salesforce                                 12
University of California Berkeley          12
Adobe                                      11
Intone Networks                            10
Amazon Web Services, Inc.                  10
Verily                                     10
Stanford Health Care                       10
Accenture                                   9
Hive                                        9
Deloitte                                    9
Visa                                        9
Uber                                        9
Zenith Services                             9
Rippling                                    9
ByteDance                                   9
Abbott Laboratories                         9
LatentView Analytics                        8
Partnership HealthPlan of California        8
Katalyst Healthcares & Life Sciences        7
Match Group                                 7
SoFi                                        7
Revolution Medicines                        7
Vivo                                        7
University of California, Davis             7
Marsh McLennan Agency                       7
Pinterest                                   7
Databricks                                  7
Kaiser Permanente                           7
Palo Alto Networks                          7
Snowflake                                   7
Realplay                                    6
Discord                                     6
Western Digital                             6
Super Micro Computer                        6
Public Employees Retirement System          6
Oleria Security                             6
Contact Government Services, LLC            6
Albertsons Companies                        6
PlayStation Global                          6
Amazon Data Services, Inc.                  6
Name: count, dtype: int64

In [222]:
# Define keywords for job levels
entry_keywords = [' i ','staff', 'dba', 'junior', 'assistant', 'entry', 'graduate', 'intern', 'trainee', 'aide','collector','technician' ]
mid_keywords = [' ii','mid', 'associate', 'specialist', 'coordinator', 'analyst', 'engineer', 'developer']
senior_keywords = ['mentor', 'supervisor', 'sr. ','head ','sr ', 'president', ' iii','senior', 'lead', 'manager', 'director', 'principal', 'executive', 'chief']

# Function to label job levels based on the title and blurb
def label_job_level(row):
    title = str(row['title']).lower()
    blurb = str(row['blurb']).lower()

    if any(keyword in title or keyword in blurb for keyword in senior_keywords):
        return 'Senior-Level'
    elif any(keyword in title or keyword in blurb for keyword in mid_keywords):
        return 'Mid-Level'
    elif any(keyword in title or keyword in blurb for keyword in entry_keywords):
        return 'Entry-Level'
    else:
        return 'Uncategorized'

# Apply the labeling function
segment_training['job_level'] = segment_training.apply(label_job_level, axis=1)

# Count job levels for an overview
job_level_counts = segment_training['job_level'].value_counts()
job_level_counts

job_level
Senior-Level     2595
Mid-Level        2293
Uncategorized     687
Entry-Level       425
Name: count, dtype: int64

In [224]:
uncat = segment_training[segment_training['job_level'].str.contains('Uncategorized')]

In [231]:
crowdsource_anuja = uncat.head(344)
crowdsource_anuja.to_csv("crowdsource_anuja.csv", index=False)

In [232]:
crowdsource_sai = uncat.tail(343)
crowdsource_sai.to_csv("crowdsource_sai.csv", index=False)